{{- if .Values.base.enableCRDTemplates }}
{{ .Files.Get "crds/crd-all.gen.yaml" }}
{{ .Files.Get "crds/crd-operator.yaml" }}
{{ .Files.Get "crds/maistra.io_meshfederations.yaml" }}
{{ .Files.Get "crds/maistra.io_federationstatuses.yaml" }}
{{ .Files.Get "crds/maistra.io_serviceexports.yaml" }}
{{ .Files.Get "crds/maistra.io_serviceimports.yaml" }}
{{- end }}
